<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="">
    <link href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" rel="stylesheet">
    <!-- Materialize-->
    <link href="{% static 'css/jqvmap.css' %}" rel="stylesheet">
    <link href="{% static 'css/flag-icon-css/css/flag-icon.min.css' %}" rel="stylesheet">
    <!-- Fomantic-ui-->
    <link rel="stylesheet" type="text/css" href="{% static 'fomantic-ui/dist/semantic.min.css' %}">
    <script src="{% static 'fomantic-ui/dist/semantic.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.js"></script>

    <!-- Fullcalendar-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.css" rel="stylesheet">
    <!-- Materialize-->
    <link href="{% static 'css/admin-materialize.min.css' %}" rel="stylesheet">
    <!-- Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}" >
    <title>CDC-SYS</title>
  </head>
  <body class="has-fixed-sidenav">
    <header>
      <div class="navbar-fixed">
        <nav class="navbar white">
          <div class="nav-wrapper"><a href="#!" class="brand-logo grey-text text-darken-4">CDC SYS</a>
            <ul id="nav-mobile" class="right">
            </ul><a href="#!" data-target="sidenav-left" class="sidenav-trigger left"><i class="material-icons black-text">menu</i></a>
          </div>
        </nav>
      </div>
      <ul id="sidenav-left" class="sidenav sidenav-fixed">
        <li><a href="http://127.0.0.1:8000/dashboard" class="logo-container">Home<i class="material-icons left">view_list</i></a></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold waves-effect active"><a class="collapsible-header">Rec. Humanos<i class="material-icons chevron">chevron_left</i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="http://127.0.0.1:8000/cadastro-func" class="waves-effect">Cadastro Func.<i class="material-icons">web</i></a></li>
                  <li><a href="http://127.0.0.1:8000/lista-func" class="waves-effect">Lista Func.<i class="material-icons">web</i></a></li>
                  <li><a href="http://127.0.0.1:8000/calculo-recisao" class="waves-effect">Calculo Recisão<i class="material-icons">list</i></a></li>
                </ul>
              </div>
            </li>
            <li class="bold waves-effect"><a class="collapsible-header">Projetos<i class="material-icons chevron">chevron_left</i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="http://127.0.0.1:8000/cadastro-projeto" class="waves-effect">Cadastro<i class="material-icons">show_chart</i></a></li>
                  <li><a href="http://127.0.0.1:8000/dashboard" class="waves-effect">dashboard<i class="material-icons">equalizer</i></a></li>
                </ul>
              </div>
            </li>
            <li class="bold waves-effect"><a class="collapsible-header">Operacional<i class="material-icons chevron">chevron_left</i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="http://127.0.0.1:8000/orcamentos" class="waves-effect">Orçamentos<i class="material-icons">show_chart</i></a></li>
                  <li><a href="http://127.0.0.1:8000/rubricas" class="waves-effect">Rubricas<i class="material-icons">settings</i></a></li>
                </ul>
              </div>
            </li>
            <li class="bold waves-effect"><a class="collapsible-header">Account<i class="material-icons chevron">chevron_left</i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="http://127.0.0.1:8000/log-in" class="waves-effect">Log In<i class="material-icons">person</i></a></li>
                  <li><a href="http://127.0.0.1:8000/settings" class="waves-effect">Settings<i class="material-icons">settings</i></a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </header>
    <main><div class="container">
      <h4>Cadastro de Funcionários</h4>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="nome" type="text" class="validate">
            <label for="nome">Nome</label>
          </div>
          <div class="input-field col s6">
            <input id="sobrenome" type="text" class="validate">
            <label for="sobrenome">Sobrenome</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
            <span class="helper-text" data-error="wrong" data-success="right">Seu melhor email aqui!</span>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <input id="icon_telephone" type="tel" class="validate">
            <label for="icon_telephone">Telephone</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="endereco" type="text" class="validate">
            <label for="endereco">Endereço</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="cep" type="text" class="validate">
            <label for="cep">CEP</label>
          </div>
          <div class="input-field col s6">
            <input id="cidade" type="text" class="validate">
            <label for="cidade">Cidade</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <select id="estado" class="browser-default">
              <option value="" disabled selected>Estado</option>
              <option value="AC">Acre</option>
              <option value="AL">Alagoas</option>
              <option value="AP">Amapá</option>
              <option value="AM">Amazonas</option>
              <option value="BA">Bahia</option>
              <option value="CE">Ceará</option>
              <option value="DF">Distrito Federal</option>
              <option value="ES">Espírito Santo</option>
              <option value="GO">Goiás</option>
              <option value="MA">Maranhão</option>
              <option value="MT">Mato Grosso</option>
              <option value="MS">Mato Grosso do Sul</option>
              <option value="MG">Minas Gerais</option>
              <option value="PA">Pará</option>
              <option value="PB">Paraíba</option>
              <option value="PR">Paraná</option>
              <option value="PE">Pernambuco</option>
              <option value="PI">Piauí</option>
              <option value="RJ">Rio de Janeiro</option>
              <option value="RN">Rio Grande do Norte</option>
              <option value="RS">Rio Grande do Sul</option>
              <option value="RO">Rondônia</option>
              <option value="RR">Roraima</option>
              <option value="SC">Santa Catarina</option>
              <option value="SP">São Paulo</option>
              <option value="SE">Sergipe</option>
              <option value="TO">Tocantins</option>
              <!-- Adicione as demais opções dos estados aqui -->
            </select>
          </div>
          <div class="input-field col s6">
            <input id="cpf" type="text" class="validate">
            <label for="cpf">CPF</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="rg" type="text" class="validate">
            <label for="rg">RG</label>
          </div>
          <div class="input-field col s6">
            <input id="nis" type="text" class="validate">
            <label for="nis">NIS</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Cadastrar
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
    <footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s6 m3">
        <img class="data-logo" src="{% static 'img/data triade_logo.png' %}" alt="Materialize">
        <p>Made with love by Data Tríade.</p>
      </div>
      <div class="col s6 m3">
        <h5>About</h5>
        <ul>
          <li><a href="#!">Blog</a></li>
          <li><a href="#!">Pricing</a></li>
          <li><a href="#!">Docs</a></li>
        </ul>
      </div>
      <div class="col s6 m3">
        <h5>Connect</h5>
        <ul>
          <li><a href="#!">Community</a></li>
          <li><a href="#!">Subscribe</a></li>
          <li><a href="#!">Email</a></li>
        </ul>
      </div>
      <div class="col s6 m3">
        <h5>Contact</h5>
        <ul>
          <li><a href="#!">Twitter</a></li>
          <li><a href="#!">Facebook</a></li>
          <li><a href="#!">Github</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</body>
<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>

<script src="{% static 'fomantic-ui\dist\semantic.js' %}"></script>
<script>
  $(document).ready(function(){
    $('.ui.dropdown').dropdown();
  });
</script>
<script>
  $(document).ready(function() {
      $('#minhaTabela').DataTable();
  });
  </script>
<script>
  $(document).ready(function() {
      $('.ui.checkbox').checkbox();
  });
  </script>
<script>
  $(document).ready(function(){
    $('.selection.dropdown')
  .dropdown();
  });
</script>


<!-- External libraries -->

<!-- jqvmap -->
<script type="text/javascript" src="{% static 'js/jqvmap/jquery.vmap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqvmap/jquery.vmap.world.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'js/jqvmap/jquery.vmap.sampledata.js' %}"></script>

<!-- ChartJS -->
<script type="text/javascript" src="{% static 'js/Chart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Chart.Financial.js' %}"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>


<!-- Initialization script -->
<script src="{% static 'js/admin.js' %}"></script>
    <script src="{% static 'js/page-scripts/dashboard.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>

</html>