<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="">
    <link href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" rel="stylesheet">
    <!-- Materialize-->
    <link href="{% static 'css/jqvmap.css' %}" rel="stylesheet">
    <link href="{% static 'css/flag-icon-css/css/flag-icon.min.css' %}" rel="stylesheet">
    <!-- Fomantic-ui-->
    <link rel="stylesheet" type="text/css" href="{% static 'fomantic-ui/dist/semantic.min.css' %}">
    <script src="{% static 'fomantic-ui/dist/semantic.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.js"></script>

    <!-- Fullcalendar-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.css" rel="stylesheet">
    <!-- Materialize-->
    <link href="{% static 'css/admin-materialize.min.css' %}" rel="stylesheet">
    <!-- Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}" >
    <title>CDC-SYS</title>
  </head>
  <body class="has-fixed-sidenav">
    <header>
      <div class="navbar-fixed">
        <nav class="navbar white">
          <div class="nav-wrapper"><a href="#!" class="brand-logo grey-text text-darken-4">CDC SYS</a>
            <ul id="nav-mobile" class="right">
            </ul><a href="#!" data-target="sidenav-left" class="sidenav-trigger left"><i class="material-icons black-text">menu</i></a>
          </div>
        </nav>
      </div>
      <ul id="sidenav-left" class="sidenav sidenav-fixed">
        <li><a href="http://127.0.0.1:8000/dashboard" class="logo-container">Home<i class="material-icons left">view_list</i></a></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold waves-effect active"><a class="collapsible-header">Rec. Humanos<i class="material-icons chevron">chevron_left</i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="http://127.0.0.1:8000/cadastro-func" class="waves-effect">Cadastro Func.<i class="material-icons">web</i></a></li>
                  <li><a href="http://127.0.0.1:8000/lista-func" class="waves-effect">Lista Func.<i class="material-icons">web</i></a></li>
                  <li><a href="http://127.0.0.1:8000/calculo-recisao" class="waves-effect">Calculo Recisão<i class="material-icons">list</i></a></li>
                </ul>
              </div>
            </li>
            <li class="bold waves-effect"><a class="collapsible-header">Projetos<i class="material-icons chevron">chevron_left</i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="http://127.0.0.1:8000/cadastro-projeto" class="waves-effect">Cadastro<i class="material-icons">show_chart</i></a></li>
                  <li><a href="http://127.0.0.1:8000/dashboard" class="waves-effect">dashboard<i class="material-icons">equalizer</i></a></li>
                </ul>
              </div>
            </li>
            <li class="bold waves-effect"><a class="collapsible-header">Operacional<i class="material-icons chevron">chevron_left</i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="http://127.0.0.1:8000/orcamentos" class="waves-effect">Orçamentos<i class="material-icons">show_chart</i></a></li>
                  <li><a href="http://127.0.0.1:8000/rubricas" class="waves-effect">Rubricas<i class="material-icons">settings</i></a></li>
                </ul>
              </div>
            </li>
            <li class="bold waves-effect"><a class="collapsible-header">Account<i class="material-icons chevron">chevron_left</i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="http://127.0.0.1:8000/log-in" class="waves-effect">Log In<i class="material-icons">person</i></a></li>
                  <li><a href="http://127.0.0.1:8000/settings" class="waves-effect">Settings<i class="material-icons">settings</i></a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </header>
    <main>
        <!-- Funcionalidade aqui-->
        <div class="container">
          <h2>Calculadora de Rescisão</h2>
          
          <form id="rescisaoForm">
            <div class="input-field col s12">
              <input type="text" id="nomeFuncionario" name="nomeFuncionario" required>
              <label for="nomeFuncionario">Nome do Funcionário</label>
            </div>
             <!-- Campo Data de Entrada -->
            <!-- Campos Data de Entrada e Data de Saída lado a lado -->
            <div class="row">
              <div class="input-field col s6">
                <input type="text" id="dataEntrada" name="dataEntrada" class="datepicker" required>
                <label for="dataEntrada">Data de Entrada</label>
              </div>
              <div class="input-field col s6">
                <input type="text" id="dataSaida" name="dataSaida" class="datepicker" required>
                <label for="dataSaida">Data de Saída</label>
              </div>
            </div>
            <!-- Adicione outros campos do formulário para os cálculos rescisórios -->
            <div class="ui segment">
              <div class="ui three column very relaxed grid">
                <div class="column">
                  <div class="grouped fields">
                    <label for="Aviso">Aviso Prévio:</label>
                    <div class="field">
                      <div class="ui radio checkbox checked">
                        <input type="radio" name="Aviso2" checked="" tabindex="0" class="hidden">
                        <label>Indenizado</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="Aviso2" tabindex="0" class="hidden">
                        <label>Trabalhado</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="Aviso2" tabindex="0" class="hidden">
                        <label>Não Trabalhado</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="grouped fields">
                    <label for="Ferias">Férias Venc.:</label>
                    <div class="field">
                      <div class="ui radio checkbox checked">
                        <input type="radio" name="Ferias2" checked="" tabindex="0" class="hidden">
                        <label>Nenhuma</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="Ferias2" tabindex="0" class="hidden">
                        <label>Uma</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="Ferias2" tabindex="0" class="hidden">
                        <label>Duas</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="grouped fields">
                    <label for="Motivo">Motivo:</label>
                    <div class="field">
                      <div class="ui radio checkbox checked">
                        <input type="radio" name="Motivo2" checked="" tabindex="0" class="hidden">
                        <label>Justa Causa</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="Motivo2" tabindex="0" class="hidden">
                        <label>Sem Justa Causa</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="Motivo2" tabindex="0" class="hidden">
                        <label>Pedido de Demissão</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="Motivo2" tabindex="0" class="hidden">
                        <label>Acordo</label>
                      </div>
                    </div>
                  </div>
                </div>
              <div class="ui vertical divider">
            </div>
          </div>
        </form>
        <br><br>

        <button class="btn waves-effect waves-light" type="button" onclick="calcularRescisao()">Calcular</button>
        <button class="btn waves-effect waves-light" type="button" onclick="gerarPDF()">Gerar PDF
          <i class="material-icons right">send</i>
        </button>
          <!-- Div para exibir os resultados dos cálculos -->
          <div id="resultados"></div>
        </div>
      
        <script>
          // Inicialize os datepickers
          document.addEventListener('DOMContentLoaded', function() {
            var datepickers = document.querySelectorAll('.datepicker');
            var options = {
              format: 'dd/mm/yyyy',
              autoClose: true
            };
            var instances = M.Datepicker.init(datepickers, options);
          });

          // Função para calcular a rescisão (substitua por seus cálculos específicos)
          function calcularRescisao() {
            // Obtenha os valores dos campos do formulário
            var nomeFuncionario = document.getElementById('nomeFuncionario').value;
            
            // Realize os cálculos necessários e exiba os resultados
            var resultadosDiv = document.getElementById('resultados');
            resultadosDiv.innerHTML = '<h4>Resultados para ' + nomeFuncionario + '</h4>';
            // Adicione os resultados específicos aqui
      
            // Exemplo: resultadosDiv.innerHTML += '<p>Valor a ser pago: R$ 10.000,00</p>';
          }
        </script>
    </div>
  </div>
    </main>
    <footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s6 m3">
        <img class="data-logo" src="{% static 'img/data triade_logo.png' %}" alt="Materialize">
        <p>Made with love by Data Tríade.</p>
      </div>
      <div class="col s6 m3">
        <h5>About</h5>
        <ul>
          <li><a href="#!">Blog</a></li>
          <li><a href="#!">Pricing</a></li>
          <li><a href="#!">Docs</a></li>
        </ul>
      </div>
      <div class="col s6 m3">
        <h5>Connect</h5>
        <ul>
          <li><a href="#!">Community</a></li>
          <li><a href="#!">Subscribe</a></li>
          <li><a href="#!">Email</a></li>
        </ul>
      </div>
      <div class="col s6 m3">
        <h5>Contact</h5>
        <ul>
          <li><a href="#!">Twitter</a></li>
          <li><a href="#!">Facebook</a></li>
          <li><a href="#!">Github</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</body>
<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>

<script src="{% static 'fomantic-ui\dist\semantic.js' %}"></script>
<script>
  $(document).ready(function(){
    $('.ui.dropdown').dropdown();
    $('.ui.checkbox').checkbox();
      // Inicialize outros componentes do Fomantic UI aqui
  });
  </script>


<!-- External libraries -->

<!-- jqvmap -->
<script type="text/javascript" src="{% static 'js/jqvmap/jquery.vmap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jqvmap/jquery.vmap.world.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'js/jqvmap/jquery.vmap.sampledata.js' %}"></script>

<!-- ChartJS -->
<script type="text/javascript" src="{% static 'js/Chart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Chart.Financial.js' %}"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>


<!-- Initialization script -->
<script src="{% static 'js/admin.js' %}"></script>
    <script src="{% static 'js/page-scripts/dashboard.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>

</html>